.container-create-contract {
  font-size: 17px;
    background-color:   rgb(196, 188, 188);
    padding: 0;
    position: fixed;
    top: 5%;
    left: 32%;
}

.container-create-contract h1 {
  margin: 0;
}

.flex-container-profile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-create-contract {
  background-color: rgb(255, 255, 255);
  padding: 0px;
  border-radius: 1px;
  color: black;
}

.flex-profile {
  width: 100%;
}

.left-profile {
  padding-right: 10px;
  padding-left: 10px;
}

.container-create-contract input:not([type='radio'],.btn-input-create-vip) {
  display: inline-block;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  border-radius: 1px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 28px;
  
}

.container button:hover {
  opacity: 0.8;
}

.btn-create-contract {
  display: flex;
  justify-content: space-around;
}

.btn-create-contract button {
  width: 30%;
}

.btn-create-contract button {
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    background: #6da5da;
    border-radius: 5px;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
}

.btn-create-contract button:hover {
    background-color: #07c5ff;
    opacity: 0.8;
    transition: .5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container-create-contract h1 {
  font-size: xxx-large;
  text-align: center;
  
}
.grid {
  display:grid;
  gap: 1rem;
}

.grid-cols-2{
  grid-template-columns: 1fr 1fr;
}

h4{
  padding: 0px 0;
 
}

*{
  margin:0;
  padding:0;
}
.createContractBackground{
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  animation: fadeIn ease-in 0.4s;
}
.btn-input-create-vip{
  height: 50px !important;
  width: 30% !important;
  border: 2px solid rgb(0, 0, 0);
  background: #6da5da;
  border-radius: 5px;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  box-sizing:border-box;
  border-radius: 3px ;
  height:60%   
}
.main-create-accident{
  padding: 30px;
}