.container-create-staff {
    font-size: 17px;
    background-color:   rgb(196, 188, 188);
    padding: 0;
}

.container-create-staff h1 {
    margin: 0;
}

.flex-container-profile {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.main-create-staff {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.flex-profile {
    width: 100%;
}

.left-profile {
    padding-right: 20px;
}

.container-create-staff input:not([type=radio]) {
   
    display: flex;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    box-sizing:border-box;
    border-radius: 3px ;
    height:60%
}

.container button:hover {
    opacity: 0.8;
}

.btn-create-staff {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
}

.btn-create-staff button {
    width: 30%;
}

.btn-create-staff button {
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-create-staff button:hover {
    background-color: rgb(196, 188, 188);
    opacity: 0.8;
    transition: .5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.icon {
    position: relative;
    top: 2px;
}
.container-create-staff h1 {
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 50px;
}

