.container_listcontract {
    padding: 50px;
}

.container-search_listcontract {
    // width: 50%;
    padding: 10px;
    margin-left: auto;
    display: flex;
}

.container-search_listcontract h3 {
    margin: 5px;
    background-color: #fff;
    // padding: 8px;
    // border-radius: 5px;
    font-weight: 600;
}

.container-border {
    padding: 50px;
    border: 1px solid #333;
    background-color: #fff;
    position: relative;
    border-radius: 3px;
}

.icon-close-contract {
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 10;
    color: #fff !important;
}

.icon-close-contract:hover {
    cursor: pointer;
}
.container-border-customer {
    padding: 50px;
    border: 1px solid #333;
    background-color: #fff;
    position: relative;
    border-radius: 3px;
}
.container-search_listcontract-customer {
    // width: 50%;
    padding: 10px;
    margin-left: auto;
    display: flex;
}
